<ion-header>
  <ion-toolbar>
    <ion-title>Movie Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="movie">

  <ion-card>
    <img [src]="getImage(movie.poster_path)" />

    <ion-card-header>
      <ion-card-title>{{ movie.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>{{ movie.overview }}</p>
      <p><strong>Release Date:</strong> {{ movie.release_date }}</p>
      <p><strong>Rating:</strong> {{ movie.vote_average }}</p>

      <br><br>

      <ion-button
        *ngIf="!isFavourite()"
        (click)="addFavourite()">
        Add To Favourites
      </ion-button>

      <ion-button
        color="danger"
        *ngIf="isFavourite()"
        (click)="removeFavourite()">
        Remove From Favourites
      </ion-button>

    </ion-card-content>
  </ion-card>

  <h2>Cast</h2>

  <ion-card *ngFor="let person of cast" [routerLink]="['/person-details', person.id]">
    <img [src]="getImage(person.profile_path)" />

    <ion-card-header>
      <ion-card-title>{{ person.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Character: {{ person.character }}
    </ion-card-content>
  </ion-card>

  <h2>Crew</h2>

  <ion-card *ngFor="let person of crew" [routerLink]="['/person-details', person.id]">
    <img [src]="getImage(person.profile_path)" />

    <ion-card-header>
      <ion-card-title>{{ person.name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Job: {{ person.job }}
    </ion-card-content>
  </ion-card>

</ion-content>